name: 'php'

on:
  pull_request:
    paths:
      - '**/*.php'
      - '.github/workflows/php.yml'
      - 'composer.json'
  push:
    paths:
      - '**/*.php'
      - '.github/workflows/php.yml'
      - 'composer.json'

jobs:
  cs:
    uses: bedita/github-workflows/.github/workflows/php-cs.yml@v2
    with:
      php_versions: '["8.4"]'

  stan:
    uses: bedita/github-workflows/.github/workflows/php-stan.yml@v2
    with:
      php_versions: '["8.4"]'

  unit-5:
    uses: bedita/github-workflows/.github/workflows/php-unit.yml@v2
    with:
      php_versions: '["8.3","8.4"]'
      bedita_version: '5'
      coverage_min_percentage: 99

  unit-6:
    uses: bedita/github-workflows/.github/workflows/php-unit.yml@v2
    with:
      php_versions: '["8.4"]'
      bedita_version: '6-alpha'
      coverage_min_percentage: 99
